html {
  font-family: Verdana, Sans-serif;
}
a, a:visited {
  text-decoration: none;
  color: blue;
}
input[type=text], input[type=input], input[type=password], select, .cool {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: .4em;
  padding-left: 1em;
  padding-right: 1em;
}
input[type=text]:hover, input[type=input]:hover, input.cool_button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
input[type=text]:active, input[type=input]:active, input.cool_button:active,
input[type=text]:focus, input[type=input]:focus, input.cool_button:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px gray;
}
input.cool_input {
  color: black;
  font-family: helvetica;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px red;
  border-left: none;
}
input[type=button], input[type=submit], input.cool_button, input[type=button]:active, input[type=submit]:active, input.cool_button:active {
  background-color: rgba(255, 255, 255, 0.3);
  border:none;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 1px 1px 2px gray;
  margin: .2em;
}
input[type=button]:hover, input.cool_button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
input[type=button]:active, input.cool_button:active {
  background-color: rgba(255, 255, 255, 0.8);
}
.no_cell_space, .round_table {
  border-spacing: 0;
}
.round_table {
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  box-shadow: 2px 2px 2px black;
  border-radius: 1em;
}
.header_table_td {
  padding: 0 2em;
}
.cell_padding, .title_td_header_table, .title_td_result_table {
  padding: 0 .5em;
}
.title_td_header_table, .title_td_result_table {
  text-shadow: 1px 1px 2px grey;
  font-weight: bold;
}
.title_td_result_table {
  padding-top: .5em;
  border-bottom: solid 2px black;
}
.title_td_header_table {
  text-align: right;
}
.bottom_cell {
  padding-bottom: .5em;
}
.white_bg {
  background-color: white;
}
.lighter_bg {
  background-color: rgba(255, 255, 255, 0.3);
}
.lighter_bg_gradient {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* Standard syntax */
}
.lighter_bg_gradient_last {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0)); /* Standard syntax */
}
.div_device_bookable, .div_device_booked {
  font-weight: bold;
  cursor: pointer;
}
.div_device_bookable {
  color: green;
}
.div_device_booked, .red_color {
  color: red;
}
.text_center_shadow {
  text-shadow: 1px 1px 1px black;
}
.orange_color {
  color: orange;
}
.apply_button {
  height: 5em;
  width: 5em;
  background: transparent center/5em no-repeat url('search_button.png');
}
.border_top_left_radius {
  border-top-left-radius: .5em;
}
.border_top_right_radius {
  border-top-right-radius: .5em;
}
.border_bottom_left_radius {
  border-bottom-left-radius: .5em;
}
.border_bottom_right_radius {
  border-bottom-right-radius: .5em;
}
.capability_icon_sd_disk_gray,
.capability_icon_sd_disk,
.capability_icon_local_storage,
.capability_icon_pir,
.capability_icon_light_control,
.capability_icon_audio,
.capability_icon_mic,
.capability_icon_ptz,
.capability_icon_dptz,
.capability_icon_speaker,
.capability_icon_wlan,
.capability_icon_status_led,
.capability_icon_ir,
.capability_icon_nas,
.capability_icon_stsnas {
  float: left;
  height: 2em;
  width: 2em;
  margin-left: 0;
  margin-right: 0;
  background: transparent center/2em no-repeat;
}
.capability_icon_sd_disk_gray {
  background-image: url('capability_icons/sd_disk_gray.png');
}
.capability_icon_sd_disk {
  background-image: url('capability_icons/sd_disk.png');
}
.capability_icon_local_storage {
  background-image: url('capability_icons/local_storage.png');
}
.capability_icon_pir {
  background-image: url('capability_icons/pir.png');
}
.capability_icon_light_control {
  background-image: url('capability_icons/light_control.png');
}
.capability_icon_audio {
  background-image: url('capability_icons/audio.png');
}
.capability_icon_mic {
  background-image: url('capability_icons/mic.png');
}
.capability_icon_ptz {
  background-image: url('capability_icons/ptz.png');
}
.capability_icon_dptz {
  background-image: url('capability_icons/dptz.png');
}
.capability_icon_speaker {
  background-image: url('capability_icons/speaker.png');
}
.capability_icon_wlan {
  background-image: url('capability_icons/wlan.png');
}
.capability_icon_status_led {
  background-image: url('capability_icons/status_led.png');
}
.capability_icon_ir {
  background-image: url('capability_icons/ir.png');
}
.capability_icon_nas {
  background-image: url('capability_icons/nas.png');
}
.capability_icon_stsnas {
  background-image: url('capability_icons/stsnas.png');
}
